.aboutUs {
    margin: -2px;
    background: url("./topcurve.svg") top left no-repeat, url("./bottomcurve.svg") bottom right no-repeat , linear-gradient(180deg, #f2f2f2 0%, #f2f2f2 100%);
    background-size: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: baseline;
    height: 1100px;
    padding: 0 120px 0;
}

.aboutUs h1 {
    font-weight: bold;
    font-size: 65px;
    line-height: 85px;
    color: #393948;
    padding-top: 180px;
}

.aboutUs h2 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 189.5%;

    letter-spacing: 0.035em;
    color: #393939;;
}

.aboutUs p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 189.5%;
    letter-spacing: 0.025em;
    color: #393948;
}

@media (max-width: 1024px) {
    .aboutUs {
        flex-direction: column;
        height: 1400px;
    }
}

@media (max-width: 950px) {
    .aboutUs {
        padding: 0 40px;
        flex-direction: column;
        height: 1100px;
    }

    .aboutUs h1 {
        padding-top: 100px;
        font-size: 30px;
    }

    .aboutUs h2, .aboutUs p {
        font-size: 20px;
    }

    .aboutUs img {
        position: relative;
        top: -60px;
    }
}