@import '../../../../commonStyles.css';

.features {
    background: #1E1E28;
    margin-top: -2px;
}

.singleFeature {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px 10px;
    width: 60%;
    margin: AUTO;
}

.singleFeature:nth-child(2n) {
    flex-direction: row-reverse;
}

.singleFeature img {
    margin: 0 20px;
    height: 180px;
}

.singleFeature div {
    margin: 0 20px;
    width: 60%;
}

.singleFeature h1 {
    margin-bottom: 30px;
    font-size: 60px;
}

.singleFeature p {
    font-size: 24px;
}

.singleFeature h1, .singleFeature p {
    color: #f2f2f2;
}

/* mobile */
@media only screen and (max-width: 950px) {
    .singleFeature {
        flex-direction: column-reverse;
        padding: 10px 0px 10px 0px;
        padding-top: 40px;
        width: 100%;
    }

    .singleFeature:nth-child(2n) {
        flex-direction: column-reverse;
    }


    .singleFeature div {
        margin: 0;
    }

    .singleFeature h1 {
        font-size: 30px;
    }

    .singleFeature p {
        font-size: 18px;
    }

    .singleFeature img {
        max-width: 300px;
    }
}