@import '../../../../commonStyles.css';
/* @import '../../../../assets/bottomCurve.png'; */

.bannerBg {
    background: url("./images/bottomCurve.png") bottom center no-repeat, linear-gradient(180deg, #303040 0%, #1E1E28 100%);
}

.bannerBg .curve {
    position: relative;
    top: 10px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px 10px;
}


.banner h1 {
    font-size: 100px;
    color: #F8F3FC;
    margin: 0;
}

.banner h2 {
    font-size: 50px;
    color: #D9D9DE;
    margin: 0;
    margin-bottom: 1.5em;
}

.banner img {
    width: 40em;
    margin-top: 20px;
    
}

.banner button {
    font-family: Avenir;
    font-size: 22px;
    line-height: 44px;
    letter-spacing: 1.45455px;

    color: #2B2B39;
    font-weight: bolder;

    padding: 20px 40px;
    border: none;
    background: linear-gradient(177.04deg, #5863FC -95.96%, #FC5D9F 171.71%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.875934);
    border-radius: 40px;
}

/* ipads */
@media only screen and (max-width: 1024px) {
    .banner {
        padding: 40px 60px 10px;
        height: 600px;
    }

    .banner h1 {
        font-size: 70px;
    }

    .banner h2 {
        font-size: 40px;
    }

    .banner img {
        width: 300px;
        margin-top: 10px;
        
    }

    .banner button {
        font-size: 18px;
        padding: 10px 20px;
    }
}


/* mobile */
@media only screen and (max-width: 950px) {
    .slogan {
        display: none;
    }

    .banner {
        padding: 10px 0px 10px 20px;
        height: 500px;
        align-items: center;
        justify-content: center;
    }

    .banner img {
        width: 300px;
        margin-top: 10px;
        align-self: center;
        justify-self: center;
        
    }
}

/* iphone 5 */
@media only screen and (max-width: 350px) {
    .banner img {
        width: 250px;
    }
}
