.infoblurb-wrapper {
    background: url("./bottomCurve.png") bottom right no-repeat, linear-gradient(180deg, #f2f2f2 0%, #f2f2f2 100%);
    /* padding: 10px 100px 10px; */
}

.infoblurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: AUTO;
}

.infoblurb h1 {
    margin-top: 0;
    font-size: 60px;
    color: #393948;
}

.infoblurb p {
    font-size: 24px;
}

.infoblurb img {
    width: 60vw;
    margin-bottom: 300px;
}

@media (max-width: 950px) {
    .infoblurb {
        padding: 0;
    }

    .infoblurb h1 {
        font-size: 30px;
        margin-bottom: 0;
    }
    
    .infoblurb p {
        font-size: 18px;
        text-align: center;
    }

    .infoblurb img {
        width: 80vw;
        margin-bottom: 100px;
    }
    
}