@import '../../../../commonStyles.css';

/* navbar styles */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #404053 0%, #30303e 100%);
    align-items: baseline;
    padding: 40px 80px 10px;
}

.navbar > h1 {
    margin: 0;
}

.navbar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px 20px;
}

.navbar a {
    display: block;
    padding: 1em;
    text-decoration: none;
    font-weight: 600;
    color: #F8F3FC;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .title {
    color: #F8F3FC;
}

.navbar .logo {
    height: 24px;
    padding-right: 20px;
}

.navbar .logoText {
    height: 18px;
}

.navbar li {
    margin-left: 20px;
}

.navbar .waitlistButton {
    border: 1px solid #F8F3FC;
    border-radius: 50px;
}

.navbar .barIcon {
    display: none;
}

.navbar .barIcon path {
    color: #F8F3FC;
}

@media (max-width: 950px) {
    .navbar {
        padding: 10px 20px;
    }

    .navbar .logo {
        height: 20px;
        padding-right: 0;
    }
    
    .navbar .logoText {
        height: 12px;
    }
    .navbar .options li:nth-child(-n+3){
        display: none;
    }

    .navbar .barIcon {
        display: unset;
        cursor: pointer;
    }
    
    .navbar > ul {
        padding-left: 0;
    }
}