@import '../../../../commonStyles.css';

/* navbar styles */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #303040 0%, #1E1E28 100%);
    align-items: baseline;
    padding: 40px 80px 10px;
}

.navbar > h1 {
    margin: 0;
}

.navbar > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 0px 20px;
}

.navbar a {
    display: block;
    padding: 1em;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar .title {
    color: white;
}

.navbar .logo {
    height: 24px;
    padding-right: 20px;
}

.navbar .logoText {
    height: 18px;
}

.navbar li {
    margin-left: 20px;
}

.navbar .waitlistButton {
    border: 1px solid white;
    border-radius: 50px;
}

  @media (max-width: 1024px) {
    /* TODO: change title size
    // TODO: change nav organization to vertical instead of horizontal
    
    // FUTURE TODO: 
        // Show hamburger button (checkbox type) and hide content
        // IF CLICKED: show X button and content
        // IF X is clicked: uncheck hamburger (checkbox type) and hide content */
}